.heading {
  width: 50%;
  min-width: 720px;
  max-width: 1080px;
  margin: auto;
  text-align: center;
}

.parameters, .simulate, .output {
  margin: auto;
  width: 50%;
  min-width: 720px;
  max-width: 1080px;
  border: 1px solid black;
  padding: 0px 10px 10px 10px;
}

body>div {
  text-align: center;
}

div.parameters, div.output {
  background-color: #f0f0f0;
}

div.heading, div.simulate {
  background-color: #ffe6e6;
}

textarea {
  padding: 10px 10px 10px 10px;
}
