.heading {
  width: 50%;
  min-width: 720px;
  max-width: 1080px;
  margin: auto;
  text-align: center;
}

.parameters, .simulate, .output {
  margin: auto;
  width: 50%;
  min-width: 720px;
  max-width: 1080px;
  border: 1px solid black;
  padding: 0px 10px 10px 10px;
}

body>div {
  text-align: center;
}

div.parameters, div.output {
  background-color: #f0f0f0;
}

div.heading, div.simulate {
  background-color: #ffe6e6;
}

textarea {
  padding: 10px 10px 10px 10px;
}

button {
  height: auto;
  width: auto;
}

.button-big {
  font-size: 14px;
  padding: 4px 4px 4px 4px;
}

.button-medium {
  font-size: 12px;
  padding: 3px 3px 3px 3px;
}

.button-small {
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

.start {background-color: #00ff00;}

.mvp-option.silver {background-color: silver;}
.mvp-option.gold {background-color: gold;}
.mvp-option.diamond {background-color: lightsteelblue;}
.mvp-option.red {background-color: indianred;}
select {padding: 1px 1px 1px 1px;}
