.heading {
  min-width: 480px;
  max-width: 720px;
  margin: auto;
  text-align: center;
}

.section {
  margin: 20px auto 20px auto;
  min-width: 50%;
  min-width: 480px;
  max-width: 720px;
  padding: 25px;
}

.boxed {
  border: 1px solid black;
}

.float {
  min-width: 50%;
  margin: 20px;
}

.float.left {
  float: left;
}

.float.right {
  margin-left: 50%;
  min-width: 360px;
}

select {
  margin: 5px;
}

select.dropdown-small {
  width: 50px;
}

div.parameters, div.output {
  background-color: #f0f0f0;
}

div.begin {
  text-align: center;
}

textarea {
  display: block;
  width: 95%;
  margin: 20px auto 20px auto;
}

.button-big {
  font-size: 24px;
  padding: 4px 4px 4px 4px;
}

.button-medium {
  font-size: 12px;
  padding: 3px 3px 3px 3px;
}

.button-small {
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

.start {background-color: #00ff00;}

.mvp-option.none {background-color: azure;}
.mvp-option.silver {background-color: silver;}
.mvp-option.gold {background-color: gold;}
.mvp-option.diamond {background-color: lavender;}
.mvp-option.red {background-color: indianred;}
